*{
  margin: 0px;
  padding: 0px;
}

h2{
 
  //border-bottom: 2px solid red;
  text-align: center;
  padding:2vw;
  color: red;
  font-family: 'ZCOOL XiaoWei', serif;
  
}

ul{
  padding:0px;
  padding-left: 10px;
  z-index:50;
}

li{
  display: inline-block;
  padding: 10px;
  padding-bottom: 5px;
  font-size: 20px;
  font-family: arial;
}

li:hover{
  border-bottom: 2px solid grey;
  color: black;
}

a{
  text-decoration: none;
  color: black;
}

.active{
  border-bottom: 2px solid red;
  
}


textarea{
  display: block;
  box-sizing: border-box;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 300px;
  padding:5px;
  font-style: justify;
  font-family: arial;;
  font-size: 20px;
  resize: none;
}



button{
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

button:hover{
  box-shadow: 0px 0px 5px black;
  background-color: rgb(150,150,150);
  color: white;
}

.btn{
  position: fixed;
  bottom: 0;
  right: 0;
  border: 1px solid black;
  box-shadow: 0px 0px 10px black;
  border-radius:5px 0px 0px 5px;
  background-color: rgba(170,170,170,0.4);
}

#view{
  display: inline-block;
  border-left-style: solid;
  margin: 10px;
  padding: 20px;
  padding-left: 5px;
  font-size: 20px;
  font-family: arial;
  background-color: rgba(150,150,150,0.5);
  border-radius: 0px 100px 10px 0px;
}

#name{
  float: right;
  margin-right: 5px;
  font-size: 14px;
  color: green;
  border-bottom: none;
  cursor: context-menu;
}

@media screen and (max-width:950px){
  .btn{
    position: static;
    box-shadow: none;
    border-radius: 0px;
    
  }
  
  #view{
    border-radius: 0px;
  }
}